{% extends 'main.html.twig' %}


{% block content %}
    <div class="container">
        <table class="table table-bordered">
                <tr>
                    <td><a href="{{ trailer.id }}">{{ trailer.title }}</a></td>
                    <td><img src="{{ trailer.image }}"></td>
                    <td>{{ trailer.description }}</td>
                </tr>
        </table>
        <a href="/">Назад</a>
    </div>
{% endblock %}
